<html>
    <head>
        <meta charset="utf-8">
        <title>삭제</title>
    </head>
    <body>
        <form action='/deleteAf' method='post'>
            id : <input type='text' name='id'><br>
            <button type='submit'>삭제</button>
        </form>
    </body>
</html>
